@font-face {
    font-family: 'Smiley Sans';
    src: url('./SmileySans-Oblique.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alibaba PuHuiTi 2.0";
    src: url('./Alibaba_PuHuiTi_2.0_400.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alibaba PuHuiTi 2.0 700';
    src: url('./Alibaba_PuHuiTi_2.0_700.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alibaba PuHuiTi 2.0 900';
    src: url('./Alibaba_PuHuiTi_2.0_900.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alibaba PuHuiTi 2.0 1000';
    src: url('./Alibaba_PuHuiTi_2.0_1000.ttf');
    font-weight: normal;
    font-style: normal;
}


