// dark 主题下的变量

// 主题名称
$theme-name: "dark";
// 主题背景颜色
$theme-bg-color: #141414;

// Footer 组件变量
$footer-border-color: #374151;
$footer-title-color: #ffffff;
$footer-text-color: #9ca3af;
$footer-hover-color: #60a5fa;

$theme-test-color: black;
